.marketplace {
  &_content {
    margin-top: 40px;
    padding: 20px 80px;
    @media screen and (min-width: 1600px) {
      padding: 40px 160px;
    }
    @media screen and (max-width: 994px) {
      margin-top: 12px;
      padding: 16px 24px;
    }
  }
}
