@import './vars.scss';

@font-face {
  font-family: 'Infer';
  src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
  font-family: 'DroneRangerPro';
  src: url('../fonts/DroneRangerPro/DroneRangerPro-VariableFont_opsz\,wght.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-overlay: #f2f2f2;
}

body {
  margin: 0px !important;
  color: white;
  font-family: 'Infer';
}

.font-drone-ranger {
  font-family: 'DroneRangerPro';
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.w-full {
  width: 100%;
}

.container_fluid {
  width: 100%;
  background-color: $neutral-color;
  max-width: 1920px;
}
