@font-face {
  font-family: 'Infer';
  src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
  font-family: 'DroneRangerPro';
  src: url('../fonts/DroneRangerPro/DroneRangerPro-VariableFont_opsz\,wght.ttf');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-overlay: #f2f2f2;
}

body {
  color: white;
  font-family: 'Infer';
}

.font-drone-ranger {
  font-family: 'DroneRangerPro';
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}
