//Custom font size

$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-size-xs: 12px;

// Colors
$primary-color: linear-gradient(91deg, #da458f -6%, #da34dd 113.05%);
$neutral-color: #17161a;
$neutral2-color: #3a3841;
$normal-color: white;
$background-color: #15171d;

// Radius
$border-radius-base: 6px;
$border-radius-sm: 4px;
