.background_marketplace {
  position: relative;
  &_title {
    position: absolute;
    top: 120px;
    max-width: 900px;
    padding: 0 80px;
    @media screen and (min-width: 1600px) {
      padding: 0 160px;
    }
  }
  &_container {
    position: relative;
    width: 100%;
  }
  &_card_item_list {
    position: absolute;
    bottom: 12px;
    display: flex;
    gap: 60px;
    padding: 0 80px;
    @media screen and (min-width: 1600px) {
      padding: 0 160px;
    }
    &_title {
      font-family: 'DroneRangerPro';
      color: #17161a !important;
      margin: 0;
    }
  }
  &_card_large {
    position: absolute;
    bottom: 0;
    right: 24px;
    @media screen and (min-width: 1600px) {
      right: 160px;
    }
    &_image {
      max-width: 400px;
      width: 100%;
    }
    &_text {
      position: absolute;
      width: 380px !important;
      z-index: 99;
      bottom: -260px;
      right: 0px;
    }
  }
}
